/*
Palette URL: http://paletton.com/#uid=63j130kgdl75RFTfUr2k7sBmzvl
*/

$color-primary-0: #336366;      // Main Primary color */
$color-primary-1: #9ABBBC;
$color-primary-2: #427F82;
$color-primary-3: #34868A;
$color-primary-4: #2D9297;

$color-secondary-1-0: #503E73;  // Main Secondary color (1) */
$color-secondary-1-1: #B4A8CA;
$color-secondary-1-2: #685193;
$color-secondary-1-3: #62439C;
$color-secondary-1-4: #633EAB;

$color-secondary-2-0: #8A9F4F;  // Main Secondary color (2) */
$color-secondary-2-1: #EAF6C9;
$color-secondary-2-2: #B1CC67;
$color-secondary-2-3: #B4D850;
$color-secondary-2-4: #C0EC46;

$color-complement-0: #A87A53;   // Main Complement color */
$color-complement-1: #FFE6D0;
$color-complement-2: #D79E6C;
$color-complement-3: #E49755;
$color-complement-4: #FA9B4A;

