/* default SCSS file, included in every page */

// Kickstart theme
@import 'themes/default';

header.main-menu {
  @include navbar();
}
main {
  @include column($columns: 12);
  @include wrapper($fluid: true);
  max-width: 900px;
}

div.flash { display: none; } // TODO: use JS to growl them
footer { display: none; } // maybe later

