@mixin alert-default {
  @include root-element;

  padding: $space / 2;
  background: $primary-color;
  color: white;
  margin: {
    bottom: $space;
  };

  p {
    @include p;

    color: inherit;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  h1 {
    @include heading-xs;

    color: inherit;
  }

  a:not([role=button]) {
    color: inherit;
    text-decoration: underline;
  }

  @content;
}
